<% if @band.venues().any?() %>
<h1>Here are the venues for <%= @band.name() %></h1>
<ul>
  <% @band.venues().each() do |venue| %>
  <li><a href='/bands/<%=@band.id()%>/venues/<%= venue.id() %>'><%= venue.name() %></a></li>
  <% end %>
</ul>
<% else %>
<h1>This band has not played any of our venues.</h1>
<% end %>

<br>
<br>
<h2>Add a venue to this band</h2>

<form action="/bands/<%=@band.id()%>/venues" method="post">
  <label for="name">Venue Name</label>
  <input id="name" name="name" type="text">
  <br>
  <br>
  <button type="submit">Add Venue</button>
</form>

<br>
<div class="container">
  <a href="/bands">Back To All Bands</a>
</div>
