<% if @venue.bands().any?() %>
<h1>Here are the bands for <%= @venue.name() %></h1>
<ul>
  <% @venue.bands().each() do |band| %>
  <li><a href='/venues/<%=@venue.id()%>/band/<%= band.id() %>'><%= band.name() %></a></li>
  <% end %>
</ul>
<% else %>
<h1>This venue has not hosted any of our bands yet.</h1>
<% end %>

<br>
<br>
<h2>Add a band to this venue</h2>

<form action="/venues/<%=@venue.id()%>/bands" method="post">
  <label for="name">Venue Name</label>
  <input id="name" name="name" type="text">
  <br>
  <br>
  <button type="submit">Add Band</button>
</form>

<br>
<div class="container">
  <a href="/venues">Back To All Venues</a>
</div>
